//------ Social Icon Colors ------//
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;

//------ Other Colors -------//
$primaryBlue_color: #3361ff;
$secondaryBlue_color: #2E69FF;
$tertiaryBlue_color: #2196F3;
// $secondary_color: #4D5E80;


//-----Background Color-----//
$primarybackground: #F7F8FA; 
$secondaryBackground: #F1F2F2;
$tertiaryBackground: #F6F6F6;

//------ Text Color------//
$tagSelected :#2E69FF;
$primaryText :#4D5E80;
$secondarytext :#161921;
$primarySubtext :#7D8FB3;
$descriptionText :#6E81A7;
$postDescriptionText :#76849F;
$postUsername :#282829;
$postQuesText :#212734;
// #B6BDCB comment
// #1F1F1F
// #F9F9F9
// #898F99
// #D8D8D8

// #2C2C2C primaryPosticon
// #AEB5C2 secondaryPosticon
// #BCC3CD tertiaryPosticon


// #DEE0E1 tagsBorder
// #EDEFF2 nav border
// #C3CAD9 icons
// #ADB8CC search text placeholder



$black: #000000;
$white: #ffffff;
