@import "../base/variable.scss";
@import "../base/mixin.scss";
.dashboard_section {
  .inner_section {
    display: flex;
    .left_section {
      .inner_parent {
        width: 260px;
        padding: 30px 20px 0px 30px;
        background-color: $primarybackground;
        border-right: 1px solid $navbarBorder;
        display: flex;
        flex-direction: column;
        height: 100vh;
        border-right: 1px solid #ebebeb;
        .sidebar {
          max-width: 208px;
          gap: 24px;
          color: $primarySubtext;
          display: flex;
          flex-direction: column;
          font-weight: bold;
          .Menu {
            width: 100%;
          }
          .options {
            width: 100%;
            gap: 1px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            .dashboard {
              width: 100%;
              display: flex;
              flex-direction: row;
              font-weight: bold;
              background-color: $primarybackground;
              border-style: none;
              padding: 15px 17px 15px 17px;
              gap: 18px;
              align-items: center;
              color: $primarySubtext;
              transition: transform 0.2s ease;
              border-radius: 10px;
              .MuiSvgIcon-root {
                margin-right: 6px;
                margin-left: 4px;
              }
              &:hover {
                transform: scale(1.1);
                background-color: white;
                color: $tagSelected;
                box-shadow: 0px 2px 5px 0px #26334d08;
              }
            }
            .post {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              color: $primarySubtext;
              font-weight: bold;
              background-color: $primarybackground;
              border-style: none;
              padding: 15px 15px 15px 21px;
              gap: 26px;
              border-radius: 10px;
              transition: transform 0.2s ease;
              &:hover {
                transform: scale(1.1);
                background-color: white;
                color: $tagSelected;
                box-shadow: 0px 2px 5px 0px #26334d08;
              }
            }
            .user {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              color: $primarySubtext;
              font-weight: bold;
              background-color: $primarybackground;
              border-style: none;
              padding: 15px 17px 15px 22px;
              gap: 26px;
              border-radius: 10px;
              transition: transform 0.2s ease;
              &:hover {
                transform: scale(1.1);
                background-color: white;
                color: $tagSelected;
                box-shadow: 0px 2px 5px 0px #26334d08;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard_section {
    .left_section {
      display: none;
    }
  }
}
