@import "../base/variable.scss";
@import "../base/mixin.scss";

.dashboard_section {
  .inner_section {
    display: flex;
    .left_section {
      .inner_parent {
        max-width: 100%;
        padding: 20px;
        background-color: $primarybackground;
<<<<<<< HEAD
        border-right: 1px solid $navbarBorder;
        height: 100vh;
=======
        border-right: 1px solid #ebebeb;
        display: flex;
        flex-direction: column;
        height: 100vh;

>>>>>>> 7537c5a37ad7a4ac115fbbcb93a809ba1207d080
        .sidebar {
          .sidebar_text {
            margin-bottom: 30px;
            .MuiTypography-root {
              // font-family: Roboto;
              font-size: 12px;
              font-weight: 900;
              line-height: 20px;
              color: $primarySubtext;
            }
          }
          .options {
            li {
              width: 100%;
              padding: 15px;
              display: flex;
              gap: 20px;
              border-radius: 14px;
              .icon_area {
                color: $icons;
                width: 20px;
                height: 20px;
              }
              .text_area {
                .MuiTypography-root {
                  // font-family: Roboto;
                  font-size: 13px;
                  font-weight: 700;
                  line-height: 25px;
                  color: $primarySubtext;
                }
              }
              &:hover {
                transform: scale(1.1);
                background-color: $white;
                color: $tagSelected;
                box-shadow: 0px 2px 5px 0px #26334d08;

                .icon_area {
                  color: $primaryBlue_color;
                }
                .text_area {
                  .MuiTypography-root {
                    color: $primaryBlue_color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard_section {
    .left_section {
      display: none;
    }
  }
}
