@import "../base/variable.scss";
@import "../base/mixin.scss";
@import "../helper/base.scss";
@import "../helper/reset.scss";

.inner_parent {
  gap: 10px;
  display: flex;
  flex-direction: column;
  .carder {
    border: 1px solid #dee0e1;
    box-shadow: 0px 1px 1px 0px #0000000a;
    width: 420px;
    border-radius: 5px;
    background-color: #ffffff;
    .head {
      font-weight: 600;
      color: $secondarytext;
      border-bottom: 0.3px solid $navbarBorder;
      padding: 8px 16px 0px 16px;
      display: flex;
      .text {
        float: left;
        width: 200px;
      }
      .icon {
        float: right;
        width: calc(100% - 200px);
        text-align: right;
        .MuiSvgIcon-root {
          width: 18px;
          height: 18px;
        }
      }
    }
    .description {
      padding: 8px 16px 8px 16px;
      display: flex;
      .des_left {
        float: left;
        width: 350px;
        .des_top {
          display: flex;
          align-items: center;
          color: $secondarytext;
          font-weight: 600;
        }
        .des_bottom {
          color: $primarySubtext;
          font-size: smaller;
          font-weight: 600;
        }
      }
      .des_right {
        float: right;
        text-align: right;
        width: calc(100% - 350px);
      }
    }
    &:hover {
      box-shadow: 1px 1px 1px 1px #0000000a;
    }
  }
}
