@import "../base/variable.scss";
@import "../base/mixin.scss";
@import "../helper/base.scss";
@import "../helper/reset.scss";

.inner_parent {
  .carder {
    border: 1px solid $tagsBorder;
    box-shadow: 0px 1px 1px 0px #0000000a;
    max-width: 100%;
    width: 400px;
    border-radius: 6px;
    background-color: $white;
    margin-bottom: 10px;
    .head {
      border-bottom: 0.3px solid $navbarBorder;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      .MuiTypography-root {
        // font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        width: calc(100% - 20px);
        float: left;
      }
      .icon {
        float: right;
        width: 20px;
        .MuiSvgIcon-root {
          width: 18px;
          height: 18px;
        }
      }
    }
    .description {
      padding: 8px 16px 8px 16px;
      display: flex;
      .des_left {
        float: left;
        width: calc(100% - 28px);
        .des_top {
          display: flex;
          align-items: center;
          .icon_area{
            padding-right: 6px;
          }
          .MuiTypography-root {
            color: $secondarytext;
            // font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
          }
        }
        .des_bottom {
          .MuiTypography-root {
            color: $primarySubtext;
            // font-family: Roboto;
            font-size: 12px;
            font-weight: 700;
            line-height: 22px;
          }
        }
      }
      .des_right {
        float: right;
        width: 28px;
      }
    }
    &:hover {
      box-shadow: 1px 1px 1px 1px #0000000a;
    }
  }
}
