@import "../base/variable.scss";
@import "../base/mixin.scss";
@import "../helper/base.scss";
@import "../helper//reset.scss";

.card_container{
    background-color: $primarybackground;
    .inner_parent{
        gap: 10px;
        display: flex;
        flex-direction: column;
        .carder{
            gap: 0px;
            position: relative;
            .head{
                font-weight: 600;
                color:$secondarytext;
            }
            :hover{
                box-shadow: 0px 1px 1px 0px #0000000A;
            }

        }

    }

}