@import './../base/variable.scss';

.featured_posts {
  width: 271px;
  border: 1px solid $navbarBorder;

  .post_header {
    border-bottom: 1px solid $navbarBorder;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    .header_icon {
      width: 15.66px;
      height: 20px;
    }
    .header_title {
      .css-2ulfj5-MuiTypography-root {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.01em;
      
        padding-left: 8px;
      }
    }
  }
  .post_content {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid $navbarBorder;
    .post_icon {
      width: 40px;
      height: 40px;
      padding-left: 6px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .content {
      padding-left: 8px;
      flex-shrink: 50;
      .post_title {
        .css-2ulfj5-MuiTypography-root {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 700;
          line-height: 20px;
        
        }
      }
      .post_inner_content {
        display: flex;
        align-items: center;
        .post_followers {
          .css-e784if-MuiTypography-root {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
          
          }
          position: relative;
          padding-right: 6px;
          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 2px;
            background-color: $black;
            border-radius: 50%;
            bottom: 20px;
            right: 10px;
          }
        }
        .post_months {
          .css-e784if-MuiTypography-root {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
          
          }
          margin-left: 4px;
        }
      }
      .post_body {
        .css-e784if-MuiTypography-root {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
        
        }
      }
    }
    .post_delete {
      padding-right: 15.05px;
    }
  }
}
