@import "./../base/variable.scss";

.featured_posts {
  width: 430px;
  border: 1px solid $navbarBorder;
  background-color: $white;

  .post_header {
    border-bottom: 1px solid $navbarBorder;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    .header_icon {
      width: 15.66px;
      height: 20px;
    }
    .header_title {
      padding-left: 8px;
      .css-2ulfj5-MuiTypography-root {
        // font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
      }
    }
  }
  .post_content {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid $navbarBorder;
    .post_icon {
      width: 40px;
      height: 40px;
    }
    .content {
      padding-left: 8px;
      flex-shrink: 50;
      .post_title {
        .MuiTypography-root {
          // font-family: Roboto;
          font-size: 12px;
          font-weight: 700;
          line-height: 20px;
          color: $primaryText;
        }
      }
      .post_inner_content {
        display: flex;
        align-items: center;
        .post_followers {
          .css-e784if-MuiTypography-root {
            // font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            color: $primarySubtext;
          }
        }
        .post_months {
          .css-e784if-MuiTypography-root {
            // font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            color: $primarySubtext;
          }
          margin-left: 4px;
        }
      }
      .post_body {
        .css-e784if-MuiTypography-root {
          // font-family: Roboto;
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
          color: $primarySubtext;
        }
      }
    }
    .post_delete {
      .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
        color: $icons;
      }
    }
  }
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
  .featured_posts {
    width: 270px;
  }
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
  .featured_posts {
    width: 270px;
  }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
  .featured_posts {
    width: 270px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .featured_posts {
    width: 270px;
  }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
  .featured_posts {
    width: 210px;
  }
}
@media (max-width: 768px) {
  .featured_posts{
    display: none;
  }
}
