* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer_section {
  background-color: #f7f8fa;
  padding: 20px 0;
}

.navbar_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fa;

  .navbar_left_container {
    display: flex;
    align-items: center;
    position: relative;

    .navbar_logo {
      width: 114px;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

      }
    }

    .navbar_burger_menu_toggle {
      background-color: #fff;
      color: #c3cad9;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: #c3cad9;
        color: #fff;
      }

      &:active,
      &.active {
        transform: scale(0.9);
        background-color: #c3cad9;
        color: #fff;
      }

      &:focus {
        outline: none;
      }
    }

    .navbar_burger_menu_list {
      display: none;
      position: absolute;
      top: 60px;
      left: 10px;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      transition: opacity 0.3s ease;

      &.open {
        display: block;
        opacity: 1;
      }

      ul {
        list-style: none;
        padding: 10px;

        .navbar_burger_menu_links {
          margin: 10px 0;

          .navbar_burger_menu_link_item {
            display: flex;
            align-items: center;

            a {
              margin-left: 10px;
              text-decoration: none;
              color: #000;
              transition: color 0.3s ease;

              &:hover {
                text-decoration: underline;
                color: #007bff;
              }
            }
          }
        }
      }
    }
  }

  .search_bar_container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 430px;

    &:hover {
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    }

    .search_bar_icon {
      color: grey;
      margin-right: 10px;
    }

    .search_bar_input {
      .search_input {
        border: none;
        outline: none;
        color: grey;
        background-color: white;
        font-size: 16px;
        padding: 5px;
        width: auto;
      }
    }
  }

  .navbar_right_container {
    display: flex;
    align-items: center;
    gap: 20px;

    .utilities_notification_icon,
    .utilities_profile_icon {
      background-color: #fff;
      color: #c3cad9;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
      }

      &:active,
      &.active {
        transform: scale(0.9);
        background-color: #0056b3;
        color: #fff;
      }

      &:focus {
        outline: none;
      }

    }

    .profile_menu_list {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99999;
      height: 100%;
      width: 100%;
      background-color: #007bff;
      padding: 50px;

      .profile_menu_list_item {

        li {
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          display: flex;
          list-style: none;
          margin-bottom: 16px;

          a {
            color: #fff
          }

            .menu_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 16px;
            background-color: #fff;
            color: #c3cad9;
            margin-right: 10px;
            border-radius: 50%;

            svg{
              width: 20px;
              height: 20px;
            
            }

            &:hover {
              cursor: pointer;
              background-color: #c3cad9;
              color: #fff;
            }
            }

          &:hover {
            color: #c3cad9;
            transition: all 0.3s ease;


          }
        }
      }

      .profile_close {
        position: absolute;
        right: 50px;
        top: 50px;
        color: #fff;
      }
    }

    .utilities_login_button {
      .login_button {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 14px;
        height: 48px;
        width: 133px;
        font-size: 18px;
        font-weight: 900;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .responsive_menu_icon {
      display: none;
      background-color: #fff;
      width: 40px;
      height: 40px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #c3cad9;

      &:hover {
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
      }

    }

    .responsive_toggle_bar_button {
      display: none;
      background-color: #fff;
      color: #007bff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
      }

      &:active,
      &.active {
        transform: scale(0.9);
        background-color: #c3cad9;
        color: #fff;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

// .responsive_toggle_bar {
//   display: none;
//   background-color: white;
//   border: 1px solid #ccc;
//   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
//   border-radius: 8px;
//   transition: opacity 0.3s ease;

//   &.open {
//     display: block;
//     opacity: 1;
//   }

//   ul {
//     list-style: none;
//     padding: 10px;

//     .responsive_toggle_bar_menu_links {
//       margin: 10px 0;

//       .responsive_toggle_bar_menu_link_item {
//         display: flex;
//         align-items: center;

//         a {
//           margin-left: 10px;
//           text-decoration: none;
//           color: #000;
//           transition: color 0.3s ease;

//           &:hover {
//             text-decoration: underline;
//             color: #007bff;
//           }
//         }
//       }
//     }
//   }
// }

.responsive_header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  height: 100%;
  width: 100%;
  background: #007bff;
  padding:20px;

  .hello {
    position: relative;

    .hello_contents {
      .navbar_logo_resposive {
        width: 180px;
        height: 48px;
        margin-bottom: 50px;
        

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

      }

      li {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 16px;

        a{
          color: #fff;
        }

        &:hover {
          transform: scale(1.1);
          color: #c3cad9;
          transform: translate(5px);
          transition: all 0.3s ease;

        }
      }
    }

    .close_icon {
      position: absolute;
      right: 0px;
      top: 0px;
      color: #fff;
      font-size: 24px;
    }
  }
}

/* Media Queries for responsiveness */
/* Large desktops and above */
@media (min-width: 1400px) {}

/* Desktops */
@media (min-width: 992px) and (max-width: 1399px) {
  .outer_section {
    padding: 15px 0;

    .navbar_section {
      .navbar_left_container {
        .navbar_logo {
          width: 100px;
          height: 25px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .search_bar_container {
        display: flex;
      }

      .search_icon {
        display: none;
      }
    }
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .outer_section {
    padding: 15px 0;

    .navbar_section {
      .search_bar_container {
        display: flex;
        width: 280px;
      }

      .navbar_right_container {
        gap: 15px;

        .utilities_notification_icon,
        .utilities_profile_icon {
          width: 40px;
          height: 40px;
        }

        .responsive_menu_icon {
          display: none;
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .outer_section {
    padding: 10px 0;

    .navbar_section {
      .navbar_left_container {
        .navbar_logo {
          width: 100px;
          height: 25px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .search_bar_container {
        display: none;
      }

      .navbar_right_container {
        gap: 15px;

        .utilities_notification_icon,
        .utilities_profile_icon {
          width: 40px;
          height: 40px;
        }

        .responsive_menu_icon {
          display: flex;
        }

        .login_button {
          height: 48px;
          width: 113px;
          font-size: 16px;
          font-weight: 700;
        }

        .responsive_toggle_bar_button {
          display: flex;
        }
      }

      .responsive_toggle_bar {
        position: absolute;
        top: 100px;
        right: 0;
      }
    }
  }
}

/* Portrait phones */
@media (min-width: 361px) and (max-width: 575px) {
  .outer_section {
    padding: 10px 0;

    .navbar_section {
      .navbar_left_container {
        .navbar_logo {
          width: 100px;
          height: 25px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;

          }
        }
      }

      .search_bar_container {
        display: none;
      }

      .navbar_right_container {
        gap: 10px;

        .utilities_notification_icon,
        .utilities_profile_icon {
          width: 30px;
          height: 30px;
        }

        .responsive_menu_icon {
          display: flex;
          width: 30px;
          height: 30px;
        }

        .login_button {
          height: 38px;
          width: 93px;
          font-size: 14px;
          font-weight: 700;
          border-radius: 10px;
        }


        .responsive_toggle_bar_button {
          display: flex;
        }
      }

      .responsive_toggle_bar {
        position: absolute;
        top: 100px;
        right: 0;

      }
    }
  }
}

/* Smaller phones */
@media (max-width: 360px) {
  .outer_section {
    padding: 10px 0;

    .navbar_section {
      .navbar_left_container {
        .navbar_logo {
          width: 100px;
          height: 25px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;

          }
        }
      }

      .search_bar_container {
        display: none;
      }
      .navbar_right_container {
        gap: 5px;

        .utilities_notification_icon,
        .utilities_profile_icon {
          width: 30px;
          height: 30px;
        }

        .responsive_menu_icon {
          display: flex;
          width: 30px;
          height: 30px;
        }

        .login_button {
          height: 28px;
          width: 65px;
          font-size: 14px;
          font-weight: 600;
          border-radius: 10px;

        }

        .responsive_toggle_bar_button {
          display: flex;
        }
      }

      .responsive_toggle_bar {
        position: absolute;
        top: 100px;
        right: 0px;
      }
    }
  }
}