@import "../base/variable.scss";
@import "../helper/base.scss";

.profileview_section {
  // padding: 4px 0px 0px 6px;
  .profile_header {
    padding-bottom: 22px;
    border-bottom: 1px solid $tagsBorder;
    margin-bottom: 22px;

    .details_section {
      gap: 26px;
      margin-bottom: 20px;
      display: flex;
      width: calc(100% - 24px);
      float: left;
      .image_section {
        width: 162px;
        height: 162px;
        img {
          border-radius: 50%;
        }
      }
      .name_section {
        padding-top: 4px;
        .name_area {
          margin-bottom: 16px;
          .MuiTypography-root {
            //   font-family: Roboto;
            font-size: 32px;
            font-weight: 700;
            line-height: 20px;
            color: $secondarytext;
          }
        }
        .email_area {
          margin-bottom: 24px;
          .MuiTypography-root {
            // font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: $primarySubtext;
          }
        }
        .follow_area {
          display: flex;
          align-items: center;
          margin-left: -16px;
          gap: 18px;
          .follower_section {
            display: flex;
            align-items: center;
            padding: 4px 12px;
            //   padding-right: 12px;
            gap: 6px;
            .follow_icon {
              width: 28px;
              height: 28px;
            }
            .follower_text {
              position: relative;
              padding-right: 8px;
              .MuiTypography-root {
                //   font-family: Roboto;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: $primarySubtext;
              }
              &::after {
                content: " ";
                position: absolute;
                width: 3px;
                height: 3px;
                bottom: 7px;
                right: 0px;
                border-radius: 50%;
                background-color: $primaryPosticon;
              }
            }
            .follower_num {
              .MuiTypography-root {
                //   font-family: Roboto;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: $primarySubtext;
              }
            }
          }
        }
      }
    }
    .edit_btn {
      width: 24px;
      float: right;
      text-align: end;
      .MuiTypography-root {
        // font-family: Roboto;
        font-size: 13px;
        font-weight: 900;
        line-height: 25px;
        color: $primaryBlue_color;
        @extend %bottom-Line_animation;
        &::after {
          bottom: 2px;
        }
      }
    }
    .desc_section {
      .MuiTypography-root {
        //   font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: $secondarytext;
      }
      .about_area {
        .MuiTypography-root {
          // font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          color: $descriptionText;
        }
      }
    }
  }
  .userview_section {
    .tab_section {
      margin-bottom: 24px;
      max-width: 100%;
      .MuiButtonBase-root {
        // margin-right: 24px;
        // font-family: Roboto;
        font-size: 13px;
        font-weight: 900;
        line-height: 25px;
        color: $primarySubtext;
        // padding: 0px;
      }

      // .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
      //   opacity: 0;
      //   width: 0px;
      // }
      .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: $secondaryBlue_color;
      }
      .css-1aquho2-MuiTabs-indicator {
        border-radius: 100px 100px 0px 0px;
        width: 52px;
        height: 4px;
        background-color: $secondaryBlue_color;
      }
    }
  }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1300px) and (max-width: 1399px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1299px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .profileview_section {
    .userview_section {
      .tab_section {
        .MuiTabs-scroller {
          max-width: 500px;
        }
      }
    }
  }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
  .profileview_section {
    .profile_header {
      .details_section {
        display: block;
        .image_section {
          margin-bottom: 12px;
        }
      }
    }
    .userview_section {
      .tab_section {
        min-width: 470px;
        .MuiTabs-root {
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .profileview_section {
    .userview_section {
      .tab_section {
        // max-width: 536px;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
  .profileview_section {
    .profile_header {
      .details_section {
        display: block;
        .image_section {
          margin-bottom: 12px;
        }
      }
    }
  }
}

/* Smaller phones */
@media (max-width: 360px) {
  .profileview_section {
    .profile_header {
      .details_section {
        display: block;
        .image_section {
          margin-bottom: 12px;
        }
      }
    }
  }
}

/* Smaller phones */
@media (max-width: 320px) {
}
