@import "../base/variable.scss";
@import "../helper/base.scss";

.profileview_section {
  // padding: 4px 0px 0px 6px;
  .profile_header {
    padding-bottom: 22px;
    border-bottom: 1px solid $tagsBorder;
    margin-bottom: 22px;

    .details_section {
      margin-bottom: 20px;
      display: flex;
      .MuiGrid-root {
        // gap: 26px;
        .css-lovfmn-MuiGrid-root {
          max-width: 178px;
        }
        .MuiGrid-grid-xl-1 {
          max-width: 24px;
          padding-left: 0px;
        }
      }
      .image_section {
        width: 162px;
        height: 162px;
        img {
          border-radius: 50%;
        }
      }
      .name_section {
        .name_area {
          margin-bottom: 16px;
          .MuiTypography-root {
            //   font-family: Roboto;
            font-size: 32px;
            font-weight: 700;
            line-height: 20px;
            color: $secondarytext;
          }
        }
        .email_area {
          margin-bottom: 24px;
          .MuiTypography-root {
            // font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: $primarySubtext;
          }
        }
        .follow_area {
          display: flex;
          align-items: center;
          margin-left: -16px;
          gap: 18px;
          .follower_section {
            display: flex;
            align-items: center;
            padding: 4px 12px;
            //   padding-right: 12px;
            gap: 6px;
            .follow_icon {
              width: 28px;
              height: 28px;
            }
            .follower_text {
              position: relative;
              padding-right: 8px;
              .MuiTypography-root {
                //   font-family: Roboto;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: $primarySubtext;
              }
              &::after {
                content: " ";
                position: absolute;
                width: 3px;
                height: 3px;
                bottom: 7px;
                right: 0px;
                border-radius: 50%;
                background-color: $primaryPosticon;
              }
            }
            .follower_num {
              .MuiTypography-root {
                //   font-family: Roboto;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: $primarySubtext;
              }
            }
          }
        }
      }
      .edit_btn {
        text-align: end;
        .MuiTypography-root {
          // font-family: Roboto;
          font-size: 13px;
          font-weight: 900;
          line-height: 25px;
          color: $primaryBlue_color;
          @extend %bottom-Line_animation;
          &::after {
            bottom: 2px;
          }
        }
      }
    }
    .desc_section {
      .MuiTypography-root {
        //   font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: $secondarytext;
      }
      .about_area {
        .MuiTypography-root {
          // font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          color: $descriptionText;
        }
      }
    }
  }
  .userview_section {
    .tab_section {
      margin-bottom: 24px;
      .MuiButtonBase-root {
        margin-right: 24px;
        // font-family: Roboto;
        font-size: 13px;
        font-weight: 900;
        line-height: 25px;
        color: $primarySubtext;
        padding: 0px;
      }
      .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: $secondaryBlue_color;
      }
      .css-1aquho2-MuiTabs-indicator {
        border-radius: 100px 100px 0px 0px;
        width: 52px;
        height: 4px;
        background-color: $secondaryBlue_color;
      }
    }
  }
}
